body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 24px;
}
.canvas {
    display:flex;
    flex-wrap: wrap;
    height:auto;
    width:435px;
    margin-top:36px;
}
.box {
    border: solid 1px black;
    height: 22px;
    width: 24px;
}
.paint {
    background-color:black;
}